.checkbox-layout {
    --size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #333;
    height: 30px;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0,0,0,0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


.check-box-background {
    width: var(--size);
    border: solid 1px;
    border-radius: 2px;
    background-color: inherit;
    height: var(--size);
    display: flex;
    transition: all .3s;
}

    .check-box-background:checked:before {
        width: var(--size);
        height: var(--size);
        display: flex;
        content: '';
        position: absolute;
        align-items: center;
        justify-content: center;
    }


.primary .checked .check-box-background {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.accent .checked .check-box-background {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.warn .checked .check-box-background {
    background-color: var(--warn-color);
    border-color: var(--warn-color);
}

.checkbox-checkmark-path {
    stroke-dasharray: 22.910259;
    stroke-width: 2.1333333333px;
}

.animate {
    transform: scale(0);
    animation: ripple 600ms linear;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
