@inherits BaseControlComponent

<div class="input-container">
	<input type="date"
				 class="control @AppereanceClass"
				 placeholder="@DateControl!.Label"
				 id="@Id"
				 disabled="@DateControl!.IsDisabled"
				 @bind-value:event="oninput"
				 @bind-value="@DateControl.Value" />
	<label for="@Id">@DateControl!.Label</label>
</div>

@code {
	internal DateOnlyControl? DateControl { get; set; }

	internal string Id { get; set; } = Guid.NewGuid ().ToString ();

	protected override void OnParametersSet ()
	{
		if ( !ControlIsValid() )
			throw new ArgumentException ("AbstractControl is missing");
		DateControl = (AbstractControl ?? FormGroup!.Controls[ FormControlName! ]) as DateOnlyControl;
	}
}
